.tdspace
{
    min-width: 105px;
}

.tablespace
{
    min-width: 260px;
}

.table-Style
{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-top-color: black;
    border-top-style: solid;
    border-left-color: black;
    border-left-style: solid;
    border-right-color: black;
    border-right-style: solid;
}

